<mat-grid-list cols="2" rowHeight="100">
    <mat-grid-tile>
        <filter [options]="filterOptions" (applyFilter)="onApplyFilter($event)"></filter>
    </mat-grid-tile>
    <mat-grid-tile>
        <graph-status [graph]="graph"></graph-status>
    </mat-grid-tile>
    <mat-grid-tile rowspan="8">
        <graph-diagram [graph]="graph" (selectNode)="onSelectNode($event)"></graph-diagram>
    </mat-grid-tile>
    <mat-grid-tile rowspan="8">
        <div>
            <h1>{{info?.name}}</h1>
            <p>{{info?.description}}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>